<div class="loader" data-bind="visible: baseViewModel.loadingFlg"><img src="/images/loader.gif" width="64" height="64" alt="Loading..." /></div>
<div class="loader-fade" data-bind="visible: baseViewModel.loadingFlg"></div>
