<div class="container" data-bind="visible: baseViewModel.user.id() == null">
    <div class="starter-template">
        <h1 class="text-center">Task-Board</h1>
        <p class="lead text-center">
            Task-Boardを利用するにはログインが必要です。<br>
            <button type="button" data-toggle="modal" data-target="#loginModal" class="btn btn-default">Log in</button>
        </p>
    </div>
</div>
